*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Jockey One';
}

nav{
    position: fixed;
    width: 100%;
    background: #A73232;
    left: 0;
    top: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 5%;
    transition: all .50s ease;
    overflow-x: auto;
}

nav::-webkit-scrollbar{
    height: 3px;
    background-color: #ddd;
}

nav::-webkit-scrollbar-thumb{
    background-color: #444;
}

.navbar{
    display: flex;
}

nav ul{
  font-size: 25px;
  display: flex;
  justify-content: center;
}

.navbar a{
    color: black;
    padding: 5px 0;
    margin: 0px 30px;
    transition: all .50s ease;
}

.navbar a:hover{
    color: white;
}

.banner img{
    max-width: 100%;
    width: 100%;
    height: auto;
    box-shadow: 5px 5px 5px #000000;
    border-radius: 15px;
}

.banner{
    margin-top: 100px;
    padding: 50px;
    margin-bottom: 40px;
}

#promo{
    font-size: 50px;
    margin-left: 55px;
}

#video{
    background-color: #A73232;
    text-align: center;
    padding: 20px;
    margin-bottom: 40px;
    
}
iframe{
    width: clamp(1px,90%,560px);
    height: 315px;

}

#cardapio{
    font-size: 50px;
    margin-left: 55px;
}

.cardapio{
    background-color: #A73232;
    margin: 80px;
    /* padding: 50px; */
    gap: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
figcaption{
    font-size: 30px;
    color: white;
}
figure img{
    width: 100%;
    padding: 20px;
    border-radius: 20px;
    border-color: white;
}
.cardapio figure{ 
    width: 20%;
    min-width: 20%;
}